1) R version 3.1.1 for Mac OS X 10.6 / R studio 0.98.1049
2) I was unable  so far to download a compatible version of PostgreSQL into my Mac. I think I have to re-set the security settings to allow cookies.
3) Unable to find dataset DMwR but on R studio data sets there were two sets in sales (BJSales & BJSales.lead) for which the data were grouped in a time series observations.